.container-1, .container-2, .container-3 {
    margin: 0 auto;
    border: 1px solid black;
    width: 75%;
    text-align: center;
}


.flex-box-container-1, .flex-box-container-2, .flex-box-rps{
border: 1px solid black;
display: flex;
padding: 10px;
flex-wrap: wrap;
justify-content: space-around;
}

.flex-box-container-1 div{
    padding: 10px;
    display: flex;
    align-items: center;

}

.flex-box-container-2 img {
    margin : 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rps img:hover{
    margin: 5px;
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}